





.hero {
        font-family: 'Ubuntu', sans-serif;
    padding: 20px 0;
    height: 100vh;
    transition: 300ms ease-in-out;
    @media screen and (min-width:$tablet) {
    padding: 40px 0;
    }
    @media screen and (min-width:$desktop) {
        padding: 60px 0;
    }
         animation: background 20s linear infinite alternate both;
    
}
@keyframes background {
    0% {
        background-color: #8EC5FC;
        background-image: linear-gradient(to right, #8EC5FC 0%, #E0C3FC 100%);
        
    }

    50% {
        background-color: #0093E9;
        background-image: linear-gradient(to top, #E0C3FC 0%, #80D0C7 100%);
        
    }

    100% {
        background-color: #8EC5FC;
        background-image: linear-gradient(to left, #80D0C7 0%, #E0C3FC 100%);
       
    }
}



.hero__box {
    
    @media screen and (min-width:$tablet) {
        display: flex;
            justify-content: center;
            align-items: center;
    }
    
}



.img__border {
    display: block;
    padding-top: 50px;
    
   margin-right: 60px;
    box-shadow: 2px 5px 10px
    rgba(0, 0, 0, 0.5);
   
    
    overflow: hidden;
    animation: color-change-2x 20s linear infinite alternate both, ava-animate 10s infinite alternate ;
    
    @media screen and (min-width:$tablet) {
            width: 370px;
        }
    
        @media screen and (min-width:$desktop) {
            width: 350px;
        }
}



@keyframes color-change-2x {
0% {
        background-color: #8EC5FC;
        background-image: linear-gradient(to right, #8EC5FC 0%, #E0C3FC 100%);

    }

    50% {
        background-color: #0093E9;
        background-image: linear-gradient(to top, #E0C3FC 0%, #80D0C7 100%);

    }

    100% {
        background-color: #8EC5FC;
        background-image: linear-gradient(to left, #80D0C7 0%, #E0C3FC 100%);

    }
}
@keyframes ava-animate{
    0%{
        border-radius:73% 27% 52% 48% / 64% 23% 77% 36%;
        
    }
    40%{
  border-radius: 73% 27% 22% 78% / 64% 68% 32% 36%;
    }
   60%{
border-radius:25% 75% 74% 26% / 24% 30% 70% 76%;
   }
   100%{
border-radius:65% 35% 34% 66% / 24% 46% 54% 76%;
   }
}


.hero__img { 
    margin: 0 auto;
    @media screen and (min-width:$tablet) {
            
        }
    
        @media screen and (min-width:$desktop) {
            width: 270px;
        }
    
}

.hero__content {}

.hero__title {
    position: relative;
    display: inline-block;
    font-family: 'Titan One', cursive;
    font-size: 48px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        
        color: #ffffff;
}

.hero__title::before{
    position: absolute;
    top: -10px;
    left: -50px;
    content: "<h1>";
    font-family: 'La Belle Aurore',
            cursive;
            font-size: 18px;
            color: #515152;
            text-transform: lowercase;
        }
.hero__title::after{
    position: absolute;
    bottom: -30px;
content: "</h1>";
font-family: 'La Belle Aurore',
        cursive;
        font-size: 18px;
        color: #515152;
        text-transform: lowercase;
}
.title-accent {
    
    
}
.title-accent--curent{
    margin-right: 28px;
}